dist/
node_modules/
package-lock.json
snowboard.config.js
oclif.manifest.json
**/tmp/
**/lib/
**/test/fixtures/api-blueprint/
**/snowboard-mock-router/test/fixtures/
!packages/snowboard-theme-*/**/lib/
packages/snowboard-theme-helper/**/lib/
