    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/accordion.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/tab.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/transition.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/popup.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/prism.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/components/prism-json.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $('table').addClass('ui table');
        $('.ui.accordion').accordion({ animateChildren: false, duration: 0 });
        $('.content.tabbed').each(function(index) {
          $('.ui.tabular .item', $(this)).tab({ context: $(this) });
        });
        $('.ui.vertical.menu').on('click', '.item', function() {
          $('.ui.vertical.menu .item').removeClass('active');
          $(this).addClass('active');
        });
        $('.ui.empty.circular.label').popup();
      });
    </script>
  </body>
</html>

