blockquote {
  border-left: solid 4px #eee;
  padding-left: 8px;
  font-style: italic;
  margin-left: 0;
  padding: 8px;
}

.ui.micro.label {
  font-size: .25rem;
}

.ui.transaction.accordion .title {
  text-align: center;
}

.ui.transaction.accordion .content {
  border-top: solid 1px #ddd !important;
  border-bottom: solid 1px #ddd !important;
  background-color: rgba(0,0,0,.03);
  padding: 0.5em 1em !important;
}

.ui.transaction.accordion .content.active {
  margin-top: 0.5em;
}

.ui.basic.label {
  text-align: left;
  overflow: auto;
}

.ui.basic.label.request-url {
  user-select: text;
}

.resource .ui.sub.header {
  text-transform: none;
}

@media only screen and (min-width: 768px) {
  .sidewrap {
    margin-right: 2rem;
  }

  .sidenav {
    left: 0;
    top: 0;
    width: inherit;
    position: fixed !important;
    height: 100% !important;
    overflow-y: auto !important;
    padding-left: 0.5rem;
  }
}
