html {
  height: 100%;
}

body {
  min-height: 100%;
}

code[class*="language-"],
pre[class*="language-"] {
  background-color: #fff;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.is-darkmode code[class*="language-"],
.is-darkmode pre[class*="language-"] {
  background-color: #2b2b2b;
}

.token.number,
.token.tag {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

.menu li.is-active {
  background-color: #3273dc;
  border-radius: 2px;
}

.menu li.is-active a {
  color: #fff;
}

.menu li.is-active a:hover {
  background-color: inherit;
  color: #fff;
}
